@(filmes: List[Filme])

@main("Filmes") {

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '260229664128047',                        // App ID from the app dashboard
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(){
     // If we've already installed the SDK, we're done
     if (document.getElementById('facebook-jssdk')) {return;}

     // Get the first script element, which we'll use to find the parent node
     var firstScriptElement = document.getElementsByTagName('script')[0];

     // Create a new script element and set its id
     var facebookJS = document.createElement('script');
     facebookJS.id = 'facebook-jssdk';

     // Set the new script's source to the source of the Facebook JS SDK
     facebookJS.src = '//connect.facebook.net/en_US/all.js';

     // Insert the Facebook JS SDK into the DOM
     firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
   }());
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=260229664128047";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

function curtir(id) {

    $.ajax({
        type: "GET",
        async:false,
        url: "/filme/curtir/"+id,
        error: function (jqXHR, status) {
        	window.alert("erro:"+status);
        }
    });

    $.ajax({
	    	type: "GET",
	    	async:false,
	    	 url: "/filme/curtidas/"+id
	    }).then(function(data) {
	       $('.curtidas'+id).html(data);
	    });

}

</script>

    <div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
	      <li class="active"><a href="@routes.FilmeCRUD.novoFilme()">Novo filme</a></li>
          <li class="active"><a href="/">Home</a></li>
        </ul>
        <h3 class="text-muted">Filmes</h3>
      </div>
     <table class="table table-striped table-bordered" id="example" cellpadding="0" cellspacing="0" border="0" width="100%">
	    <tfoot>
	          <tr>
	            <th>ano</th>
	            <th>filme</th>
 	            <th>diretor</th>
	            <th>dura&ccedil;&atilde;o</th>
	            <th>g&ecirc;nero</th>
  	            <th>IMDB</th>
  	            <th colspan="3">curtidas</th>
	        </tr>

	      @for(filme <- filmes) {
	        <tr>
	            <td>@filme.ano</td>
  	            <td>
	             <a href="@routes.FilmeCRUD.detalhar(filme.id)">@filme.nome</a>
	             <img src="@routes.FilmeCRUD.imagem(filme.id)" alt="">
	            </td>
 	            <td>@filme.diretor</td>
	            <td>@filme.duracao</td>
	            <td>@filme.genero</td>
  	            <td style="white-space: nowrap;"><a href="@filme.url" target="_BLANK">nota: @filme.nota com @filme.votos votos</a></td>
  	            <td><img align="middle" width="50px" src="@routes.Assets.at("images/joia.png")" alt="curtidas"/></td>
  	            <td style="white-space: nowrap;"><div class="curtidas@filme.id">@filme.curtidas</div></td>
  	            <td nowrap="nowrap"><a class="btn btn-lg btn-success"  onclick="curtir(@filme.id)" href="#"> curtir ! </a></td>
	        </tr>
	             }
	    </tfoot>
	   </table>

	   	   <br/>
	   <br/>
		     @helper.form(action = routes.FilmeCRUD.upload(), 'enctype -> "multipart/form-data") {
	    <table class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	       <th>Escolha o filme</th>
		   <td>
			<select name="filmeId" >
			 @for(filme <- filmes) {
			   <option value="@filme.id">@filme.id - @filme.nome</option>
			   }
			</select>
		  </td>
		 </tr>
		 <tr>
		  <th>Escolha uma imagem para fazer upload:</th>
		  <td>
		      <input type="file" name="picture" class="form-control">
		   </td>
		  </tr>
		  <tr>
		    <td colspan="2">
	          <input type="submit" class="btn btn-primary" value="Enviar imagem">
	       </td>
	      </tr>
	      </table>
		     }
      </div>

}

